div{
	text-align: left;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 300px;
	margin-right: 300px;
	font-family: 'Roboto', sans-serif;
}

ul{
	font-size: 20px;
	line-height: 26px;
}

ol{
	font-size: 20px;
	line-height: 26px;
}

li.a{
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

li.b{
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

h1{
	font-size: 36px;
	line-height: 36px;
}

h2{
	font-size: 32px;
	line-height: 32px;
}

p{
	font-size: 20px;
	line-height: 26px;
}

footer{
	text-align: center;
	background-color: #def6ed;
	border-radius: 25px
}

img{
	display: block;
	margin-bottom: 25px;
	margin-right: auto;

}